################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GenomeBuilderAppR2/v17
/.vs/GenomeBuilderAppR2/FileContentIndex
/.vs
